@charset "UTF-8";

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: black;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

header nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header nav div {
    padding: 10px 20px; 
    margin: 5px 0;
    border-radius: 10px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

nav div a {
    text-decoration: none;
    color: #c49ce0;
    font-weight: bold;
    padding: 10px 15px; 
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#burguer {
    display: block;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

#burguer:hover {
    transform: scale(1.1); 
}

nav div a:hover {
    /*background-color: #745689; */
    color: azure;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

nav div:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}



#burguer {
    display: block;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
}

nav div a:hover {
    /*background-color: #745689;*/
    color: azure;
}

main {
    background-color: black;
}

#home {
    background-color: black;
    color: white;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.tit-home {
    font-size: 2em;
    text-align: center;
    padding-bottom: 60px;
    width: 90%;
}
.tit-home h1 {
    padding-bottom: 15px;
}

.conteudo-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
}

.img-home {
    background: url('imgs/marina-profissional.png') no-repeat center center;
    background-size: cover;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.txt-home {
    max-width: 500px;
    min-height: 350px;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.txt-home p {
    text-align: center;
    font-size: 1.2rem;
}



.skill-icon { 
    font-size: 3em; 
    color: #333; margin-bottom: 10px;
}

@media (min-width: 500px) {
    header nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    #burguer {
        display: none;
    }

    #home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteudo-home {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .img-home {
        margin-right: 20px;
        margin-bottom: 0;
    }
    .txt-sobre { 
        background-color: rgba(255, 255, 255, 0.9); 
        color: #333; 
        width: 80%; max-width: 700px; 
        padding: 30px; 
        border-radius: 15px; 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
        text-align: justify; 
        margin: 20px 0; 
        font-size: 1.1em; 
        line-height: 1.6; 
    }
}
#sobre { 
    background-image: linear-gradient(black, #151536, #17173a); 
    min-height: 650px; 
    padding: 50px 30px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    color: white; 
} 

.tit-sobre { 
    font-size: 2.5em; 
    margin-bottom: 30px; 
    color: #ffffff; 
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6); 
} 

.txt-sobre { 
    background-color: rgba(255, 255, 255, 0.95); 
    color: #333; 
    width: 90%; max-width: 800px; 
    padding: 40px; 
    border-radius: 20px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    font-size: 1.2em; 
    line-height: 1.8; 
}

.tit-skills {
    color: white;
    margin: 30px;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #1b1b1b;
}


.skills-section { 
    background-color: #17173a; 
    color: #fff;  
    padding: 50px 0; 
    text-align: center; 
} 

.tit-skills h2 { 
    font-size: 2em;  
    margin-bottom: 30px; 
    color: #ffffff;  
} 

.lista-skills { 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    gap: 30px;  
    flex-wrap: wrap; 
    padding: 0 10px;  
} 

.skill-item { 
    background-color: #292946; 
    border: none; 
    border-radius: 15px; 
    padding: 30px; 
    width: 220px;  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
    text-align: center;  
} 

.skill-item:hover { 
    transform: scale(1.1);  
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);  
} 

.skill-item h3 { 
    font-size: 1.6em;  
    margin-bottom: 15px;  
    color: #baebf1; 
} 

.skill-item p { 
    font-size: 1.1em;  
    color: #d1d1e9;  
} 

.skill-icon { 
    font-size: 2.5em; 
    color: #ffb74d;  
    margin-bottom: 20px;
} 

.lista-hard-skills { 
    display: flex; 
    justify-content: center; 
    gap: 30px; 
    flex-wrap: wrap; 
    padding: 0 10px;
} 

.hard-skill-box {
    background-color: #292946;
    border: none;
    border-radius: 15px;
    padding: 30px;
    width: 460px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.hard-skill-box:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.hard-skill-box h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #baebf1;
    text-align: center;
}

.hard-skill-box ul {
    list-style: none;
    padding: 0;
}

.hard-skill-box li {
    font-size: 1.2em;
    color: #d1d1e9;
    padding: 5px 0;
    text-align: center;
}

.portfolio-section {
    background-image: linear-gradient(#17173a, #24245b, black);
    color: #333;
    padding: 50px 0;
    text-align: center;
}

.tit-portfolio h2 {
    color: white;
    box-shadow: #232356;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.tit-portfolio p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.portfolio-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.portfolio-item { 
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    padding: 20px; 
    text-align: center; 
    transition: transform 0.3s ease; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.portfolio-item img {
    max-height: 110px;
    width: auto;
    object-fit: cover;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.portfolio-item h3 {
    font-size: 1.5em;
    color: #444;
}

.portfolio-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.portfolio-item a:hover {
    background-color: #555;
}

#contato {
    background-color: black;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contato-section h2 {
    color: white;
}

.contato-section p {
    color: white;
    font-size: 1.1em;
}

.contato-section a {
    color: #fff;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

.contato-section a:hover {
    background-color: #555;
    font-weight: bolder;
    border-radius: 5px;
}

footer {
    color: white;
    text-align: center;
    padding: 5px;
}
